
@media (max-height: 480px) and (min-width: 480px) and (max-width: 600px) { 
    html{
        -webkit-transform: rotate(-90deg);
           -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
             -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
        -webkit-transform-origin: left top;
           -moz-transform-origin: left top;
            -ms-transform-origin: left top;
             -o-transform-origin: left top;
                transform-origin: left top;
        width: 320px; /*this is the iPhone screen width.*/
        position: absolute;
        top: 100%;
            left: 0
    }
}

body {
  background: #CFCFCF;
}

h1 {
  margin: 0;
  margin-top: 0px;
  color: white;
  text-shadow: 0px 0px 3px #000000;
  border-color: black;
  font-size: 60px;
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: 3px;
  padding: 20px;
} 

p {
  text-align: center;
  font-size: 12px;
  color: black;
  margin: 0px;
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: .5px;
}

hr {
    border-top: 2px solid #AE0000;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
  margin-right: 40px;
}

#info_header {
  padding: 10px;
  margin-top: 20px;
  font-size: 14px;
}

#info_text {
  text-align: justify; 
  text-justify: inter-word; 
  padding: 0px 20px 0px 20px; 
  font-family: 'open sans'; 
  font-size: 14px;'
}

.button_class {
  background: white;
  border-style: solid;
  border-width: 5px;
  border-color: #AE0000;
  color: black;
  min-width: 130px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  padding: 10px
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Archivo Black', sans-serif;
}

.button_class:hover{
  background: #AE0000;
  color: white;
}

.main_button {
  background: #000000;
  border-style: solid;
  border-width: 5px;
  border-color: #000000;
  cursor:pointer;
  color: black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 10px
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Archivo Black', sans-serif;
  color: white;
}

#resume {
  width: 120px;
  height: 100px;
  font-size: 12px;
  margin: auto;
  margin-top: 40px;
  border-radius: 5%;
  height: 40px;
}

#info:hover {
  transform: rotate(90deg);
}
#home:hover {
  transform: rotate(-90deg);
}

input[type=range] {
  -webkit-appearance: none;
  text-align: center;
  height: 29px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100%;
  background: rgba(1,1,1, 0);
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #AE0000;
  cursor: pointer;
  margin-top: -6px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #D3D3D3;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #AE0000;
  cursor: pointer;
  margin-top: -6px;
}

#container {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main_sides {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main_filler {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 15%;
  width: 100%;
}

.top_left_button_div{
  display: flex;
  justify-content: flex-start;
}

.top_right_button_div{
  display: flex;
  justify-content: flex-end;
}

#reset-div {
  display: flex;
}

#generate-div {
  display: flex;
}

#sketch-div{
  background: #FFFFFF;
  border-style: solid;
  border-width: 10px;
  border-color: #AE0000;
  border-radius: 15px;
  margin: auto; 
  min-width: 500px;
  max-width: 500px;
  height: 500px;
  box-shadow: 0px 0px 18px #888888;
}
.dummy_div{
  width: 20%;

}
.split_div{
  min-width: 30px;
}